/*Fonts*/

body{
    margin: 0;
    padding: 0;
}

.background{
    background-image: url("../images/presentation.png");
    background-repeat: no-repeat;
    height: 45vw;
    
    margin: 0;
}

.background h1{
    font-family: 'eras_bold_itcregular';
    font-size: 72px;
    color: white;
    text-align: center;
    padding-top: 18vw;
}

h2 {
    font-family: 'eras_bold_itcregular';
    color: #041c28;
}

p {
    font-family: 'open_sansregular';
    font-size: 16px;
}

.txtInfos {
    margin-left: 5%;
}

.txtInfos h2 {
    font-size: 40px;
}

.txtInfos .start{
    margin-top: 5%;
}

#boldtext{
    font-weight: bold;
    color: #041c28;
}
