@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?5u6udp');
  src:  url('fonts/icomoon.eot?5u6udp#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?5u6udp') format('truetype'),
    url('fonts/icomoon.woff?5u6udp') format('woff'),
    url('fonts/icomoon.svg?5u6udp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}



.icon-credit-card:before {
  content: "\e900";
}
.icon-credit-card-1:before {
  content: "\e901";
}
.icon-credit-card-2:before {
  content: "\e902";
}
.icon-english:before {
  content: "\e903";
}
.icon-french:before {
  content: "\e904";
}
.icon-menu:before {
  content: "\e905";
}
.icon-phone:before {
  content: "\e906";
}
.icon-search:before {
  content: "\e907";
}
.icon-spanish:before {
  content: "\e908";
}
