@font-face {
    font-family:"ErasBoldITC" ;
    src: url("fonts/ErasBoldITC.ttf")format("truetype");
}
@font-face {
    font-family:"OpenSans-Light";
    src: url("fonts/OpenSans-Light.ttf")format("truetype");
}
@font-face {
    font-family:"OpenSans-SemiBold";
    src: url("fonts/OpenSans-SemiBold.ttf")format("truetype");
}
/*Fonts*/
h1, h2{font-family:"ErasBoldITC";}
p{font-family:"OpenSans-Light"}

.presentation{background-image: url("presentation.jpg");line-height:50vh;height:50vh;}
.presentation h1{line-height:0; font-size: 5vh;color:white;}
.txtInfos{width:80vh;margin-left:5%;}
.txtInfos h2{margin-top: 10%;}
.txtInfos .start{margin-top: 5%;}
